<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<style>
    .title-box {
        padding: 3rem 1.5rem 2rem;
        text-align: center;
    }
    
    .btn-nueva {
        margin: 2px 0 14px 0;
    }
</style>



<body>
    <div class="container">
        <a class="btn btn-primary btn-nueva" href="d"><b>+</b> Añadir Bodega                                    </a>
        <table class="table table-bordered grocery-crud-table table-hover">
            <thead>
                <tr>
                    <th>Placas</th>
                    <th>Tipo vehiculo</th>
                    <th>Hora ingreso</th>
                    <th>Fecha ingreso</th>
                </tr>
            </thead>
            <tbody>

                <tr>
                </tr>
                <tr>
                </tr>
                <tr>
                </tr>
                <tr>
                </tr>
                <tr>
                    <a class="btn btn-default btn-outline-dark" href="">Entrar</a>
                    <a class="btn btn-default btn-outline-dark" href="">Borrar</a> </td>

                </tr>
                <tr>
                    <a class="btn btn-default btn-outline-dark" href="">Entrar</a>
                    <a class="btn btn-default btn-outline-dark" href="">Borrar</a>
                    </td>
                </tr>
            </tbody>
        </table>


    </div>
</body>

</html>