<div class="jumbotron">
    <h1 class="display-4">{{{title}}}</h1>
    <p class="lead">{{{description}}}</p>
    <hr class="my-4">
    <p>It uses utility classes for typography and spacing to space content out within the larger container.</p>
    <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
</div>
<div class="container">

    <form action="/save" method="post">
        <div class="form-group">
            <label>Nombre</label>
            <input type="text" class="form-control" name="firstName" placeholder="Ingrese su nombre">
            <small id=" nameHelp" class="form-text text-muted">Ingrese su nombre por favor.</small> <br>
            <label>Apellido</label>
            <input type="text" class="form-control" name="lastName" placeholder="Ingrese su apellido">
            <small id=" nameHelp" class="form-text text-muted">Ingrese su apellido por favor.</small>
            <label>Correo electrónico</label>
            <input type="email" class="form-control" name="email" placeholder="Ingrese su correo electrónico">
            <small id=" nameHelp" class="form-text text-muted">Ingrese su correo electrónico por favor.</small>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>